@{
    ViewData["Title"] = "Home Page";
}

@*<div class="row">
    Home Index DS
    1. if no id passed, then show nothing
    2. if id passed and valid, show guest viewcomponent for each guest
    3. if id passed and not valid, redirect to url with no id

</div>*@